@import url(./fonts.css);
@font-face{
    font-family: "Roboto";
    src:'../fonts/Roboto-Regular.ttf';
}

.header-area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 5rem;
     font-family: 'Roboto', sans-serif;
    font-size: 24px;
    background: linear-gradient(90deg,#4458dc 0%,#854fee 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}

.header-area .main-menu .navbar{
    padding: 1rem 5rem;
}
.header-area .main-menu .nav-item .nav-link{
    font: normal 500 15px/2px 'Roboto', sans-serif;
    text-transform: uppercase;
    padding: 1.7rem;
    
}
.header-area .main-menu .navbar-nav .active a{
    background: linear-gradient(90deg,#4458dc 0%,#854fee 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}
.header-area .main-menu .navbar-nav a:hover{
    background: linear-gradient(90deg,#4458dc 0%,#854fee 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.site-main .site-banner{
    color:white;
}
.site-main .site-banner{
    padding:150px 0px 250px 0px;
    background-image: url('/img/logo  (1).png');
    background-attachment: fixed;
    background-size: 100% 100%;
}
.site-main .site-banner .site-title h3{
    
    font-weight: 500;
}
.site-main .site-banner .site-title h3::after{
    content: " ";
    height: 2px;
    width: 18vw;
    background: white;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}
.site-main .site-banner .site-title h1{
    font-size: 5rem;
}

.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
}
.site-main .site-banner .container h1,h4,button,h3{
    margin-left: 3%;
}
.about-image .image{
    width: 100%;
    height: 590px;
    margin-left: -5%;
}
.site-main .about-area{
    padding: 5rem 0rem;
}
.line{
    line-height: 0.5em;
}

.site-main .about-area .about-title h2 > span{
    display: block;
    font: normal bold 24px/ 25px 'Roboto', sans-serif;
    letter-spacing: 10px;
    line-height: 30px;
}

.site-main .about-area .about-title .paragraph > p{
    padding: .4rem 0;
}

.site-main .brand-area{
    padding: 1rem 20rem;
    margin-bottom: 4rem;
}
.first-row{
    margin-top: 150px;
}
.contact{
    font-family: "Roboto";
}
.site-main .brand-area .first-row .col-lg-3{
    display: flex;
    justify-content: center;
}

.site-main .brand-area .first-row .col-lg-3 > .single-brand{
    border: 1px solid #201f1f17;
    text-align: center;
    padding: .3rem 0rem;
    margin: .9rem 0;
    width: 80px;
    height: 60px;
    cursor: pointer;
    border-radius: 4px;
    transition: transform .4s ease;
}

.site-main .brand-area .first-row .col-lg-3 > .single-brand > img{
    width: 50%;
}

.site-main .brand-area .first-row .col-lg-3 > .single-brand:hover{
    box-shadow: 0px 10px 30px rgba(57,56,61,0.205);
    transform: scale(1.1);
}

.site-main .brand-area .first-row .col-lg-3 > .single-brand:hover > img{
    filter: brightness(0.15);
}

.site-main .brand-area .experience-area{
    padding-left: 1rem;
}

.site-main .brand-area .experience-area span{
    display: block;
}

.site-main .brand-area .experience-area .years-area{
    background: url(/img/client-info-bg.png) no-repeat 45px 20px;
    padding: 2rem 0;
    width: 40rem;
    height: 18rem;
    padding-left: 8rem;
    position: relative;
}

.site-main .brand-area .experience-area .bg-panel{
    position: absolute;
    left: -190px; top: 0%;
    background: #e029290a;
    width: 400px;
    height: 400px;
    margin-left: 340px;
    z-index: -1;
}

.site-main .brand-area .experience-area .years-area .years{
    font: normal bold 84px/40px 'Roboto', sans-serif;
    color: #854fee;
    z-index: 2;
}

.site-main .brand-area .experience-area .years-area h2 > span{
    font: normal 600 22px/30px 'Roboto', sans-serif;
}

.site-main .brand-area .experience-area .call-area{
    padding-left: 10rem;
}

.skill-area{
    padding: 5% 20%;
}
.skill-title{
    display: inline-block;
    text-align: center;
    margin-bottom: 5%;
    font: normal 600 22px/30px 'Roboto', sans-serif;
}
.skill-name{
    font: normal 600 18px/30px 'Roboto', sans-serif;
    color:#141313;
}
/* Project Area */ 

.site-main .project-area{
    padding: 4rem 0;
}

.site-main .project-area .button-group button{
    background: transparent;
    border: none;
    font: normal 500 16px/130px 'Roboto', sans-serif;
    text-transform: uppercase;
}

.site-main .project-area .button-group button + button{
    padding-left: 3rem;
}

.site-main .project-area .grid .our-project > .title h4{
    font: normal 700 25px/12px 'Roboto', sans-serif;
    line-height: 1.5em;
}

.site-main .project-area .grid .our-project .img a:hover img{
    filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}
.portfolio-title{
    display: inline-block;
    
}
.project-title{
    text-align: center;
}

/* End Project Area */
.table-class{
    width: 80%;
    margin: 0 auto;
}
.project-table{
    padding: 7% 0;
}
.project-table td p{
    font: normal 700 18px/25px 'Roboto', sans-serif;
    margin-top: 15px;
    text-transform: capitalize;
    

}

.project-table td a{
    font: normal 500 16px/12px 'Roboto', sans-serif;
    border-radius: 15px;
}

footer.footer-area{
    padding: 5rem 0;
    
}

footer.footer-area .social h5{
    font: normal 500 23px/ 30px 'Roboto', sans-serif;
}

footer.footer-area .social a > i{
    font-size:22px;
    padding: 2rem;
    color: #201f1f17);
}

footer.footer-area .social a:hover > i{
    color: #4458dc;
}


.title-text{
    font: normal bold 50px/ 72px #4458dc;
}

.text-uppercase{
    text-transform: uppercase;
}

/* Buttons */ 

.button{
    padding: .8rem 2.2rem;
    font: normal 500 16px/20px #4458dc;
    position: relative;
    border: 3px solid transparent;
    border-radius: 4px;
}

.button.primary-button{
    
    background: #ED4C67;
    transition: background .6s ease;
    box-shadow: 0px 10px 30px rgba(57,56,61,0.205);
    color:white
}

.button.primary-button:hover{
    background: linear-gradient(90deg,#4458dc 0%,#854fee 100%);
    background-clip: padding-box;
    
    background-clip: padding-box;
    color: white;
}

.button.primary-button::after, .button.secondary-button::after{
    position: absolute;
    top: -2px; left: -2px;
    bottom: -2px;  right: -2px;
    background: linear-gradient(90deg,#4458dc 0%,#854fee 100%);
    content: ' ';
    z-index: -1;
    border-radius: 4px;
}

.button.secondary-button{
    background:#C4E538;
    transition: background .6s ease;
    box-shadow: 0px 10px 30px rgba(57,56,61,0.205);
}

.button.secondary-button:hover{
    background: linear-gradient(90deg,#4458dc 0%,#854fee 100%);
    background-clip: padding-box;
    
    background-clip: padding-box;
    color: black;
}
p.para{
    color: #777777;
    font: normal 500 16px/ 25px 'Roboto', sans-serif;
}

.font-roboto{
    font-family: 'Roboto', sans-serif;
}

button:focus,
button:active
button:hover
.btn:active,
.btn.active{
    outline: 0px !important;
    box-shadow: none !important;
}

.title-h1{
    font: normal bold 39px/ 40px 'Roboto', sans-serif;
}


.navbar_fixed{
    position: fixed;
    width: 100%;
    top: -1px;
    left: 0; right: 0;
    background: #ffffff;
    box-shadow: 0px 10px 30px rgba(57,56,61,0.205);
    z-index: 999;
    transition: background 1s ease;
}



 

