.title-text{
    font: normal bold 50px/ 72px #4458dc;
}

.text-uppercase{
    text-transform: uppercase;
}

/* Buttons */ 

.button{
    padding: .8rem 2.2rem;
    font: normal 500 16px/20px #4458dc;
    position: relative;
    border: 3px solid transparent;
    border-radius: 4px;
}

.button.primary-button{
    
    background: #ED4C67;
    transition: background .6s ease;
    box-shadow: 0px 10px 30px rgba(57,56,61,0.205);
    color:white
}

.button.primary-button:hover{
    background: linear-gradient(90deg,#4458dc 0%,#854fee 100%);
    background-clip: padding-box;
    
    background-clip: padding-box;
    color: white;
}

.button.primary-button::after, .button.secondary-button::after{
    position: absolute;
    top: -2px; left: -2px;
    bottom: -2px;  right: -2px;
    background: linear-gradient(90deg,#4458dc 0%,#854fee 100%);
    content: ' ';
    z-index: -1;
    border-radius: 4px;
}

.button.secondary-button{
    background:#C4E538;
    transition: background .6s ease;
    box-shadow: 0px 10px 30px rgba(57,56,61,0.205);
}

.button.secondary-button:hover{
    background: linear-gradient(90deg,#4458dc 0%,#854fee 100%);
    background-clip: padding-box;
    
    background-clip: padding-box;
    color: black;
}
p.para{
    color: #777777;
    font: normal 500 16px/ 25px var(--roboto);
}

.font-roboto{
    font-family: 'Roboto', cursive;
}

button:focus,
button:active
button:hover
.btn:active,
.btn.active{
    outline: 0px !important;
    box-shadow: none !important;
}

.title-h1{
    font: normal bold 39px/ 40px var(--roboto);
}


.navbar_fixed{
    position: fixed;
    width: 100%;
    top: -1px;
    left: 0; right: 0;
    background: #ffffff;
    box-shadow: var(--box-shadow);
    z-index: 999;
    transition: background 1s ease;
}